/.env
/.venv
/compare*
/questions/raw
/questions/questionsOG
/questions/embeddedLarge
# /pdf_data
*.png
/temp_pdf
/findPDF.py
/txt_data
/md_data
/md_data_NoPage
/.vscode
/docs*
/VERSIONS
/__pycache__
config.py
