/.env
/.venv
/compare*
/questions
# /pdf_data
*.png
/temp_pdf
/findPDF.py
/txt_data
/md_data*
/md_data_NoPage
/.vscode
/docs*
/VERSIONS
/__pycache__
config.py
/extra_*
/databases
/KEMI_*
/results*
/pdf_data_subset
/helping_scripts/__*
main.py
File_IDs_Mistral*